._popup {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;

    display: flex;
    align-items: center;

    padding: 10px;

    z-index: 100;

    &._alt &-close-btn {
        color: var(--pink);
        background-color: transparent;
        position: relative;
        left: 50%; top: auto;
        font-size: 25px;
        transform: translate(-50%,0);
    }

    &._alt &-body {
        margin: 0 auto 15px auto;
        max-height: calc(100vh - 75px);
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: 100%;

        z-index: 2;
    }
    &-bg {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background-color: black;

        opacity: .7;

    }
    &-body {
        margin: auto;
        position: relative;
        background-color: white;
        
        overflow-y: auto;
        max-height: calc(100vh - 30px);
        width: 100%;
        max-width: 438px;

        padding: 15px;
        @include _426 {
            padding: 30px;
        }
        border-radius: 14px;

        z-index: 2;
    }
    &-close-btn {
        position: absolute;
        right: 15px; top: 10px;
        line-height: 100%;
        @include _426 {
            right: 15px; top: 20px;
        }
        width: 40px; height: 47px;
        
        font-size: 14px;
        color: var(--accent-3);
        transition: color .2s ease-in-out;
        &:hover {
            color: var(--accent);
        }

        background-color: white;
    }
    &-title {
        
    }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 8px;
  border: 8px solid var(--pink);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--pink) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

._gallery-popup {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 1000;

    transition: all .2s ease-in-out;

    
    &._hidden {
        opacity: 0;
    }
    &-img {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%,calc(-50% - 40px));

        width: auto; max-width: 100%; max-height: calc(100% - 100px);
        
        color: white;
        background: var(--bg);
        object-fit: contain;
        border-radius: 15px;
        text-align: center;
        min-width: 320px;
        padding: 15px;

        transition: opacity .2s ease-in-out;
        opacity: 1;
        &._hidden {
            opacity: 0;
        }
        
    }
    &-loading {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%,calc(-50% - 40px));
    }
    &-bg {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 200vh;
        background-color: var(--dark);
        opacity: .8;
        z-index: -1;
    }
    &-close-btn {
        position: absolute;
        left: 50%; bottom: 15px;
        color: var(--pink);
        font-size: 1.875rem;
        transform: translate(-50%,0);
        
        width: 40px; height: 47px;
    }

    &-arrow {
        display: inline-block;
        position: absolute;
        left: 50%; bottom: 0px;
        font-size: 1.875rem;
        width: 80px; height: 80px;

        color: var(--pink);

        &._prev {
            transform: translate(-175%,0);
        }

        &._next {
            transform: translate(73%,0);
        }
    }
}

.product-appear-popup {
}
._popup {
}
._alt {
}
.product-appear {

		// .product-appear__wrapper

		&__wrapper {
		}

		// .product-appear__bg

		&__bg {
		}

		// .product-appear__body

		&__body {
		}

		// .product-appear__title

		&__title {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 100%;

            @include _768 {
                font-size: 1.5rem;
            }

            @include _992 {
                font-size: 1.7rem;
            }
		}

		// .product-appear__info

		&__info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            padding: 30px 0;
            margin-top: 30px;
            
            border-top: 1px solid var(--light);
			// .product-appear__info--image

			&--image {
                width: 100px;
                @include _426 {
                    width: 125px;
                }

                display: flex;
                justify-content: center;

                background: var(--bg);
                border-radius: var(--br);

                padding: 15px;
                margin-right: 15px;
			}

			// .product-appear__info--img

			&--img {
                width: 75px; height: auto;
                
			}

			// .product-appear__info--name

			&--name {
                flex: 0 1 calc(100% - 115px);
                @include _426 {
                    width: 125px;
                    flex: 0 1 calc(100% - 145px);
                }
                font-size: 0.875rem;
                
                @include _768 {
                    font-size: 1rem;
                }
    
                @include _992 {
                    font-size: 1rem;
                }

                transition: color .2s ease-in-out;
                &:hover {
                    color: var(--accent);
                }
			}
		}

		// .product-appear__form

		&__form {
            padding-top: 20px;
            border-top: 1px solid var(--light);

            display: flex;
            flex-direction: column;
            align-items: center;
		}

		// .product-appear__label

		&__label {
            width: 100%;
            padding: 10px 0;
			// .product-appear__label--input-name

			&--input-name {
                display: block;
                margin-bottom: 5px;

                font-weight: 700;

                &._required {
                    &::after {
                        content: '*';
                        color: var(--pink);
                        margin-left: -3px;
                    }
                }
			}
		}

		// .product-appear__input

		&__input {
            line-height: 100%;
		}

		// .product-appear__required-message

		&__required-message {
            font-size: 0.75rem;
            line-height: 125%;
            color: var(--accent-light-2);

            padding: 15px 0;

            & a {
                border-bottom: 1px solid var(--accent-light-2);
            }
		}

		// .product-appear__submit

		&__submit {
            width: 100%;
            margin-top: 15px;
		}
}


