.card-categories {

    // .card-categories__container

    &__container {
    }

    // .card-categories__title

    &__title {
    }

    // .card-categories__list

    &__list {
        padding-top: 15px;

        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;

        

        @include _768 {
            grid-template-columns: 1fr 1fr;
        }

        @include _992 {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media(min-width: 1150px) {
            gap: 30px;
        }
    }

    // .card-categories__item

    &__item {
        min-height: 200px;
        // .card-categories__item--body

        &--body {
            padding: 25px;
            border-radius: var(--br);
            overflow: hidden;

            position: relative;
            min-height: 100%;

            display: flex;
            flex-direction: column;
        }

        // .card-categories__item--bg

        &--bg {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            z-index: -1;
        }

        // .card-categories__item--bg-img

        &--bg-img {
            width: 100%; height: 100%;
            object-fit: cover;
            user-select: none;
            -webkit-user-drag: none;
        }

        // .card-categories__item--title

        &--title {
            @include _992 {
                font-size: 1.875rem;
            }
        }

        // .card-categories__item--link

        &--link {
            color: var(--white);
            line-height: 125%;
            &:hover {
                color: var(--light-3);
            }
            transition: color .2s ease-in-out;
        }

        // .card-categories__item--list

        &--list {
            padding-top: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            flex: 1 1 auto;

        }

        // .card-categories__item--li

        &--li {
            padding: 5px 0;
            font-weight: 600;
        }
    }
}

